/* BULLSEYE STYLES */

.PageBg {background-image: url(/images/page_bg.jpg); background-repeat: no-repeat;}

/* SubNav Styles */
.SubNav {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;	color: #7FCCFD;	text-decoration: none;}
a:link.SubNav {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;	color: #7FCCFD;	text-decoration: none;}
a:hover.SubNav {color: #ffffff}
.SubNavS {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;	color: #ffffff;	text-decoration: none;}
.SubNavBg {background-color: #0E55B8; font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px;}
.SubNavBgS {background-image: url(/images/subnav_s.gif);	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px;	color: #ffffff;}

.Footer {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;	color: #689DD5; text-decoration:none;}
a:hover.Footer {text-decoration: underline;}
.InputSearch {font-family: Verdana, Arial, Helvetica, sans-serif;	background-color: #247EDB;	font-size: 10px;	color: #BBD9FF;	width: 106px;	border: 1px solid #091166;	filter: Alpha(Opacity=100);}
.BodyText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #FFFFFF;
	text-decoration: none;

}
.TableBorder {
	background-color: #2A54B4;
}
.TableHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3ACEFF;
	background-color: #0A2184;
	font-weight: bold;
}
.TableCellLight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #0C45A4;
}
.TableCellDark {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #0A369A;
}
.BodyTextSml {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
}
.TableText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.TableTextBlue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #66CCFF;
	text-decoration: none;

}
a:hover.TableTextBlue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #66CCFF;
	text-decoration: underline;

}
.Strike {
	text-decoration: line-through;
}
.TableTextAqua {
	color: #80FDFC;
}
.AquaTableBorder {

	background-color: #489DB6;
}
.AquaTableCellDark {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #17498F;
}
.AquaTableCellLight {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #25669B;
}
.Input {
font-family: Verdana, Arial, Helvetica, sans-serif;	background-color: #247EDB;	font-size: 10px;	color: #BBD9FF;	border: 1px solid #091166;	filter: Alpha(Opacity=100);
}
.ForumText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	cursor: hand;
	text-decoration: none;

}
.ForumTextYellow {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFCC00;
	cursor: hand;
	text-decoration: none;

}
.PictureBorderCorp {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #20B6E8;
}
.BodyTextLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #91D92F;
	font-weight: bold;
	text-decoration: none;
}
a:hover.BodyTextLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #91D92F;
	font-weight: bold;
	text-decoration: underline;
}
.TableCellWhatsNew {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #185ABB;
	padding: 5px;
	
}
.BodyTextLinkBlue {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #66CCFF;
	text-decoration: none;
}
a:hover.BodyTextLinkBlue {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #66CCFF;
	text-decoration: underline;
}
.BodyTextLinkGreen {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #91D92F;
	font-weight: bold;
	text-decoration: none;
}
a:hover.BodyTextLinkGreen {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #91D92F;
	font-weight: bold;
	text-decoration: underline;
}

.FeedingTableCellGreen {

	background-color: #58AD27;
}
.FeedingTableTextGreen {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CCFF66;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.BodyTextBlue {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #66CCFF;
	text-decoration: none;
}
a:hover.BodyTextBlue {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #66CCFF;
	text-decoration: underline;
}
.BodyTextGreen {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #91D92F;
	text-decoration: none;
}
a:hover.BodyTextGreen {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #91D92F;
	text-decoration: underline;
}
.BodyTextYellow {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #FFF000;
	text-decoration: none;
}
.CorpTableBorder {

	background-color: #0D84C4;
}
.CorpTableCellDark {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #075A9F;
}
.CorpTableCellLight {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #1067A8;
}
.ExbFactsTableCellDark {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #194AB1;
}
.ExbFactsTableCellLight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #195ABC;

}.VirtualPetStats {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	padding-left: 43px;

}
.BodyTextLinkLightBlue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #90C2FF;
	text-decoration: none;
}
.error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
}
.InputForum {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000033;
	width: 400px;
}

.error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF9966;
}

.ButtonCancel  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #052280;
	background-image: url(/images/b_cancel2.gif);
	background-repeat: no-repeat;
	height: 18px;
	width: 67px;
	border: 1px none;
	cursor: hand;
	cursor: pointer;
}

.ButtonResend  {
	background-color: #0A369A;	
	background-image: url(/images/b_resend.gif);
	background-repeat: no-repeat;
	height: 18px;
	width: 67px;
	border: 1px none;
	cursor: hand;
	cursor: pointer;
}

.ButtonLogin  {
	background-color: #0A369A;
	background-image: url(/images/b_login.gif);
	background-repeat: no-repeat;
	height: 18px;
	width: 67px;
	border: 1px none;
	cursor: hand;
	cursor: pointer;
}

.ButtonSubmit {
	background-color: #17498F;
	background-image: url(/images/b_submit.gif);
	background-repeat: no-repeat;
	height: 18px;
	width: 67px;
	border: 1px none;
	cursor: hand;
	cursor: pointer;
}
.TextAquaClub 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffff00;
	font-weight: bold;
}